/*Fuentes*/
/* @font-face {
    font-family: 'Star Jedi';
    font-size: 48px;
    text-shadow: 4px 4px 4px #FFE81F;
  } */


  /* NOTE: Generic styles */
  
  
  h1,h2{

    font-family: 'Star Jedi', arial;
    font-size: 54px;
    margin-bottom: 16px;
    line-height: 1.2;
    text-align: center;
    -webkit-text-stroke: 2px #ffe81f;
    color: #000000;
  }
  h6{
    font-family: 'Star Jedi', arial;
    font-size: 54px;
    margin-bottom: 16px;
    line-height: 1.2;
    color: #000000;
    text-align: center;

  }
    
  p {
    font-family: 'Star Jedi', arial;
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
  }
  

  a{
    font-family: 'Star Jedi', arial;
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
    color: #000;
    background-color: #FFE81F;
    border-radius: 6px;
    border: 1px solid #ffffff;
    
    }

    li{
    padding: 0;
    list-style: none;
    }
    
      
  body {
      font-family: 'Star Jedi', arial;
      background-color: #000000;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      display: block;
      } 
  
  .container{
    display: flex;
    justify-content: center;

  }
  .container_title{
    margin: 10px;
    margin-top: 3px;
    line-height: 1,1;
    text-align: center;
    max-width: 100%;
    width: 100%;
    max-height:100%; 
    font-size: 50px;
    color:#FFE81F;
    
    
        
  }
  .container_imagen{
    max-width: 75%;
    max-height:75%;
    align-items: center;
    filter: opacity(0.5)
     drop-shadow(0 0 0 #000); 

    
        }

  .header_container_menu{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      background-color: #ffe81f;
      justify-content: space-between;
      max-width: 100%;
      align-items: center;
      
                     }
  .header_container_menu>div{
    width: 33%;  }

  .header_container_menu_list{
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: right;
     
  }

  .header_icono{
    max-width: 100px;
    max-height: 100px;
    justify-content: right;
  
  }

 
  .header_acercade {
    margin-right: 30px;
    background-color: none;
      }
  .header_busqueda{
    margin-right: 30px;
    background-color: none;
      }
  .header_historias{
    margin-right: 30px;
    background-color: none;
      }
  .header_home{
    margin-right:30px;
    background-color: none;

  }
  .header_inicio{
    background-color:black;
    color:white;
    margin-right:30px;
  }

  
  .container2_parrafo1 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  .container2_parrafo2{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;

  }
  .george .disney .grid .grid--2-cols{
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    display: grid;

  }
.george_img{
  max-height: 80%;
  max-width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  border-style: none;
  margin-left: 300px;
  margin-right: center;
  text-align: center;
  
}
.george_enlace{
  max-width:50%;
  max-height: 20%;
  margin-right: 120px;
  text-align: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.george_columna2{
  margin-right: 250px;
  align-content: center;
}
.george_title{
  size: 20px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.george_parrafo{
  text-align: center;
  size: 12px;
  margin-top: 0px;
  
}
/*disney*/
.disney_img{
  max-height: 60%;
  max-width: 50%;
  margin-top: 30px;
  margin-bottom: 40px;
  display: block;
  border-style: none;
  margin-left: 250px;
  text-align: center;
  
}
.disney_enlace{
  max-width:50%;
  max-height: 20%;
  margin-right: 120px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.disney_columna2{
  margin-right: 250px;
  align-content: center;
}
.disney_title{
  margin-top:50px;
  margin-bottom: 10px;
  size: 20px;
  display:flex
  text-align:center;
}

.disney_parrafo{
  text-align: center;
  size: 12px;
  
}
.comic2_title{
  margin-bottom: 50px;
  margin-top: 100px;
}
.comic2_parrafo{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.comic {
  max-width:100%;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  -ms-grid-columns: 1fr 30px 174px 30px 174px 30px 174px 30px 174px;
    grid-template-columns: 1fr repeat(4, 174px);
    grid-gap: 60px 30px;
    margin-right: 200px;
    margin-bottom: 20px;
    max-height: 450px;
}
    


.comic_columna1_img{
  max-width: 100%;
  max-height: 40%;
}

.comic_columna1_title{
  font-size: 20px;
}

.comic_columna2_img{
  max-width: 100%;
  max-height: 40%;
}

.comic_columna2_title{
  font-size: 20px;
}

.comic_columna3_img{
  max-width: 100%;
  max-height: 40%;
}


.comic_columna3_title{
  font-size: 20px;

}

.comic_columna4_img{
  max-width: 100%;
  max-height: 40%;
}

.comic_columna4_title{
  font-size: 20px;
}


.comic_columna5_img{
  max-width: 100%;
  max-height: 40%;
}

.comic_columna5_title{
  font-size: 20px;
}
/*Acerca de Star Wars*/

.episodio{
  position: relative;
    min-height: 280px;
    border-radius: 10px;
    overflow: hidden;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 100px;
    max-width: 100%;

}

/*episodio1*/

.title{
font-size: 30px;
text-align: center;
}
.imagen_episodio{
  max-width: 184px ;
  max-height: 274px;
}

/*busqueda*/
.personajes_title2{
  size:24px;

}
.personajes_title{
  size:30px;
}
.personajes_img{
  max-width: 261px;
  max-height: 193px;
}
.busqueda{
  margin-top: 100px;
  margin-bottom: 200px;
}
input[type=text]:not([size]){
  width: 800px ;
  height:30px ;
  margin-right: 20px;
  background-color: white;
  border:1px solid #FFE81F;
  
}
.resultado-busqueda{
  display: flex;
  justify-content: space-between;
  
}

/*acercademi*/
.acercademi{
  display: flex;
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
  margin-right: 100px;
}
.mi_imagen{
  max-width: 450px;
  max-height: 450px;
  

}

.sobre_mi{
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 50px;
  
  
}
.sobre_mi2{
  margin-bottom: 50px;
  
}




  /*columas*/

  .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 32px;
  }
  
  .grid--2-cols {
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
  
  /*
  .grid--3-cols {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--6-cols {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }


  */



  .footer{
    background-color: #FFE81F;
    margin:10px;
    max-width: 100%;
    max-height: 20%;
    font-size: 15px;
    align-items: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 32px;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin-top: 200px;
    

  }

  .footer_title{
    align-items:right ;
  }
  .footer_title2{
    align-items:left ;

  }
